/* коліпр заголовку героя #FFFFFF
колір заголовків #212121
колір посилань #2196F3
колір тексту #757575

кольори логотипу #000000
#2196F3

*/

body {
    font-family: roboto, sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}


/* --------------------HEADER-------------------------- */

.header {
background: #FFFFFF;
}
.header-logo  {
font-family: raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: #000000;
}
.header-web-logo {
color: #2196F3;
}
.header-navigation {
}
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.header-email, .header-tel  {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}


/* --------------------HERO-------------------------- */
.hero {
    background: #2F303A;
}
.hero-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.hero-button {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
}

/* --------------------FUTURES-------------------------- */
.futures-title {}
/* заховати заголовок */
.futures-list-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.futures-content {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}

/* -----------------Types work------------------------- */
.work {
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/* -----------------------TEAM---------------------------*/


.team {
    background: #F5F4FA;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;

}
.team-name {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #212121;
}
.team-vacancy {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}
/* ---------------------FOOTER---------------------------*/
.footer {
background: #2F303A;

}
.footer-logo  {
font-family: raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: #000000;
}
.footer-web-logo {
color: #2196F3;
}

.footer-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.list {
}
.footer-email, .footer-tel {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
